// TODO: 🔪 with 🔥
.grid-float {
  @media (max-width: $m2 - 0.001em) {
    width: 100%;
    clear: both;
  }
  display: inline-block;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.grid-1-2-3 {
  @include grid(1, 0, 9%);

  @media (min-width: $m1) {
    @include grid(2, 4.5%, 4.5%);
  }

  @media (min-width: $l1) {
    @include grid(3, 4.5%, 4.5%);
  }
}

.grid-2 {
  @include grid(2, 5%, 2rem);
  margin-top: 0;
}

.grid-1-2 {
  @include grid(1, 0, 1rem);

  @media (min-width: $m2) {
    @include grid(2, 4.5%, 4.5%);
  }
}
.contact .grid-1-2 {
  margin-bottom: 0.65rem;
  float: left;
  width: 100%;
  margin-right: 0;

  @media (min-width: $m1) {
    width: 47.5%;
  }

  + .grid-1-2 {
    float: right;
  }
}

.grid-1 {
  float: left;
  clear: both;
  width: 100%;
  @include clearfix;
}
