// sweet sticky footer via flexbox
// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
@supports (flex-wrap: wrap) {
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .main {
    flex: 1;
  }
  &.contact .main {
    display: flex;
    align-items: center;
  }
}


// container width
.row,
.site-nav {
  width: 90%;
  max-width: $l1;
  margin: 0 auto;
  @include clearfix;

  @media (min-width: $m2) {
    width: 85%;
  }
}

.row {
  padding-left: 2%;
  padding-right: 2%;
  // @include guides;
}


// form
form {
  max-width: 38em;
  margin: 0 auto;
}


// z-index
.nav-container {
  z-index: 5;
}

footer,
label, input, textarea {
  z-index: 2;
}

.prev-container,
.next-container {
  z-index: 1;
}


// center img in layout
.row > img {
  margin-left: auto;
  margin-right: auto;
}




.content-left {
  @include content;

  @media (min-width: $m2) {
    float: right;
  }
}

.content-right {
  @include content;

  @media (min-width: $m2) {
    float: right;
  }
}




.sidebar-left {
  @include sidebar;

  @media (min-width: $m2) {
    float: left;
  }
}

.sidebar-right {
  @include sidebar;

  @media (min-width: $m2) {
    float: right;
  }
}


// vertically center
.error {

  main {
    @include clearfix;
  }

  @media (min-width: $m1) and (min-height: $m1) {

    .fullwidth:not(.footer) {
      height: 34em;
      height: 100vh;
      position: absolute;
      top: 0;

      .row {
        height: 100%;
      }
      main {
        @include vertical-center;

        form {
          padding-top: 0;
        }
      }
    }
    .footer {
      position: absolute;
      bottom: 0;
    }
  }
}
