// TODO: refactor

// nav (from theme)
.nav-container {
  background: $white;

  .active .nav-link {
    color: $dark-2;
  }

  @media (min-width: $sm2) {

    .active a {

      &:hover,
      &:active,
      &:focus {
        color: $white;
      }
    }
  }
}


// nav links (from theme)
.nav-link {
  color: $dark-1;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: $brand-light;
    background-image: linear-gradient(to bottom, $brand-light, $brand-color);
    opacity: 0;
    transform: translateY(100%);
  }

  &:hover,
  &:focus,
  &:active {
    @media (min-width: $sm2) {
      color: $white;
    }

    &:after {
      opacity: 1;
      transform: translateY(95%);

      @media (min-width: $sm2) {
        transform: none;
      }
    }

    svg path {
      fill: $white;
    }

  }
}

.nav-link:active {
  color: $brand-dark;

  > span {
    color: $brand-dark;
  }

  @media (min-width: $sm2) {
    background: $brand-dark;
    background: rgba($brand-dark, 0.375);
    color: $white;

    > span {
      color: $white;
    }
  }
}






// main menu
.menu {
  display: table;
  margin: auto;
  max-width: 100%;
  line-height: 0.01; // fix extra spacing at the bottom
  overflow: hidden;

  @media (min-width: $sm1) {
    @supports (flex-wrap: wrap) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  @media (min-width: $sm2) {
    height: $nav-height * 0.75;
    max-width: 100%;

    @supports (flex-wrap: wrap) {
      max-width: 30rem;
    }
  }

  @media (min-width: $m2) {
    height: $nav-height;
    max-width: 40rem;
  }
}


// nav list items
.nav-item {
  height: $nav-height * 0.75;

  // flexbox fallback
  @media (min-width: $sm2) {
    width: auto;
    float: left;
  }

  @media (min-width: $m2) {
    height: $nav-height;
  }
}


// flex order
@media (min-width: $sm2) {

  .nav-projects {
    order: 1;
  }
  .nav-about {
    order: 2;
  }
  .home-nav-item {
    order: 3;
  }
  .nav-blog {
    order: 4;
  }
  .nav-contact {
    order: 5;
  }
}


// nav links
.nav-link {
  display: inline-block;
  height: 100%;
  width: 100%;
}


// home
.home-nav-item {
  width: 100%;

  @media (min-width: $sm2) {
    width: 4rem;
  }

  @media (min-width: $m2) {
    width: 12rem;
    flex: 2 4rem;
  }
}

.home-nav-link {
  @media (max-width: $sm2 - 0.001) {
    &:hover > span,
    &:focus > span {
      color: $brand-light;
    }

    // don't show the sliding hover effect when the logo is stacked on top of the main nav links
    &:after {
      opacity: 0 !important;
    }
  }
}

.nav-link span {
  display: block;
}

.nav-name {
  line-height: 0;
  margin-top: 1.15rem;
}

.nav-title {
  margin-top: 0.425rem;

  @media (min-width: $m2) {
    margin-top: 0.2rem;
  }
}


// not home
.main-nav-item {
  line-height: $nav-height;

  @media (max-width: $sm2 - 0.001em) {
    width: auto;
    display: inline-block;
  }

  @supports (flex-wrap: wrap) {
    width: 20%;
  }

  @media (max-width: $sm1 - 0.001em) {
    width: auto;
    overflow: hidden;

    .nav-link {
      padding: 0 0.5rem;
    }

    &.nav-about,
    &.nav-blog {
      text-align: right;
    }
    &.nav-projects,
    &.nav-contact {
      text-align: left;
    }

    &:nth-of-type(4) {
      clear: both;
    }
  }

  @media (min-width: $m2) {
    line-height: $nav-height;
    width: 6rem;
    flex: 1 2rem;
  }

  .nav-link {
    display: block;
    padding: 0.5rem;
    line-height: 1.5rem;

    @media (min-width: $m2) {
      padding: 0.6rem 0 1rem 0;
      line-height: $nav-height * 0.625;
    }
  }
}


// JFDD logo
@media (min-width: $sm2) and (max-width: $m2 - 0.001em) {

  .mobile-logo {
    height: 100%;
    width: 2rem;
    position: absolute;
    top: 0;
    @include svg-fallback('../../img/icons/jfdd');
    @include background-sizing;
    @include horizontal-center;
  }

  .active .mobile-logo {
    @include svg-fallback('../../img/icons/jfdd-active');
  }

  .home-nav-item {
    .nav-link:hover,
    .nav-link:focus,
    .nav-link:active {
      .mobile-logo {
        @include svg-fallback('../../img/icons/jfdd-active');
        @include background-sizing;

        @media (min-width: $sm2) {
          @include svg-fallback('../../img/icons/jfdd-hover');

        }
      }
    }

    // hide spans on mobile
    span {
      opacity: 0;
      top: -$nav-height;
      height: 0;
    }
  }
}
