// sections

main {
  padding-top: 1rem;
  padding-bottom: 1.25rem;

  @media (min-width: $m2) {
    padding-bottom: 3rem;
  }
}

.fullwidth {
  width: 100%;
  clear: both;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (min-width: $m1) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @media (min-width: $l1) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

// footer

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $m1) {
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
  }

  @media (min-width: $l1) {
    padding-top: 1.85rem;
    padding-bottom: 2rem;
  }
}

// blog intro

.intro {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
