////////////////////////////////
// typography
////////////////////////////////

@mixin source-light { font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-weight: 300; }
@mixin source-reg { font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-weight: 400; }
@mixin source-ital { font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-weight: 400; font-style: italic; }
@mixin source-bold { font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-weight: 600; }


////////////////////////////////
// layout & positioning
////////////////////////////////

// break out of a centered container and fill the viewport horizontally
@mixin fullwidth {
  margin-left: auto; // fallbacks
  margin-right: auto;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

// psuedo element defaults
@mixin pseudo {
  content: '';
  display: block;
}

// Fill up an absolutely 100% amount of space; let yourself be huge
@mixin inflate {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
}

// showing the grid
@mixin guides {
  background: url(../img/grid.png);
  background-size: 100% 100%;
  background-position: center;
}


// clearfix; 'nuff said
@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

// Center positioned elements
@mixin absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin vertical-center {
  top: 50%;
  transform: translate(0, -50%);
}
@mixin horizontal-center {
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin anchor-offset {
  &:before {
    display: block;
    content: '';
    margin-top: -6rem;
    height: 6rem;
    visibility: hidden;
  }
}


////////////////////////////////
// TODO: refactor me
////////////////////////////////

// article content
@mixin content {
  width: 100%;

  @media (min-width: $m2) {
    width: 65.3%;
  }
}
// sidebar
@mixin sidebar {
  width: 100%;

  @media (min-width: $m2) {
    width: 30.3%;
  }
}

// Grid mixin. Adapted from http://css-tricks.com/video-screencasts/132-quick-useful-case-sass-math-mixins/
@mixin grid($numPerRow, $margin-right, $margin-bottom) {
  width: ((100% - (($numPerRow - 1) * $margin-right)) / $numPerRow);
  margin-right: $margin-right;
  &:nth-child(n) {
    margin-right: $margin-right;
    margin-bottom: $margin-bottom;
    float: left;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    float: right;
  }
  &:nth-last-of-type(-n+#{$numPerRow}) {
    margin-bottom: 0;
  }
}


////////////////////////////////
// Background image helpers
////////////////////////////////

// Svg background with fallback and retina support
@mixin svg-fallback($filename, $path: "img/") {
  background-image: url(../#{$path}#{$filename}.png);
  background-image:
  linear-gradient(transparent, transparent),
url(../#{$path}#{$filename}.svg);
}

// Center background images and fill up the container
@mixin background-sizing($width: 100%) {
  background-size: $width;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin background-cover {
  background-size: cover;
  background-position: center;
}

// Repeating patterns
@mixin background-pattern($filename, $width: auto, $height: auto) {
  background-image: url(../img/backgrounds/#{$filename}.png);
  background-repeat: repeat;
  background-size: $width $height;
  background-position: -20% 0;
}


////////////////////////////////
// Button component
////////////////////////////////

@mixin button-base {
  display: inline-block;
  overflow: hidden; // clip :after gradient fill
  background: $brand-color;
  color: $white;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  // default padding and border-radius; may be overwritten by button variants
  padding: 0.65em 1.25em 0.55em 1.25em; // forever fudged
  border-radius: 4px;

  // transitionable gradient fill
  &:after {
    @include pseudo;
    @include inflate;
    z-index: -1; // prevent from obscuring text
    background-image: linear-gradient(to bottom, $brand-light, $brand-color);
    opacity: 0; // initial opacity
  }

  // hover state
  &:hover,
  &:focus {
    background: $brand-light;
    color: $white;
    border-color: $brand-dark;
    transform: perspective(50em) rotateX(10deg) scale(1.0125); // 3d effect

    // show gradient fill
    &:after {
      opacity: 1;
    }
  }

  // focus
  &:focus {
    box-shadow: 0 0 0.5em rgba($brand-light, 0.5);
  }

  // active state
  &:active {
    background: $brand-dark;
    color: $white;
    border-color: $brand-dark;
    transform: perspective(50em) rotateX(8deg) scale(1); // more subtle 3d effect

    // partially hide gradient fill to allow darker background color to show through
    &:after {
      opacity: 0.625;
    }
  }
}


////////////////////////////////
// Card component
////////////////////////////////

@mixin card-hover {
  transform: scale(1.01);
  transform-origin: top;
  opacity: 0.92;
}

@mixin card-container {
  width: 100%;
  line-height: 0;
  overflow: hidden;
}
