.u-screenreader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 0;
  width: 0;
  overflow: hidden;
}

.u-line-height-reset {
  line-height: 0.001;
}

.u-padding-bottom-off {
  padding-bottom: 0 !important;
}

// currently only used to display my name in the intro when the logo turns into JFDD
.u-show-middle {
  display: none;

  @media (min-width: $sm2) and (max-width: $m2 - 0.001) {
    display: inline;
  }
}
