// colors
$white:   #FFFFFF;
$light-1: #F0F3FC;
$light-2: #CACED9;
$gray:    #A4A9B7;
$dark-1:  #7F8594;
$dark-2:  #596072;
$black:   #343C50;

$brand-color: #0483DD;

$brand-light: #2F99E4;
$brand-dark:  #0064A8;
$brand-black: #033860;

$twitter:  #00aced;
$dribbble: #ea4c89;
$instagram:#517fa4;
$google:   #dd4b39;

$facebook: #3b5998;
$linkedin: #0077B5;
$youtube:  #bb0000;

$pinterest:#cb2027;
$flickr:   #ff0084;
$tumblr:   #32506d;
$forusquare: #0072b1;
$vine:     #00bf8f;

// breakpoints

$sm1:  26em;      // 320px;
$sm2:  30em;      // 480px;

 $m1:  40em;      // 640px;
 $m2:  56.25em;   // 900px;
 $m3:  64em;      // 1024px

 $l1:  80em;      // 1280px;
 $l2:  90em;      // 1400px;
 $l3:  100em;     // 1600px;

 // height

 $nav-height: 3.5rem;
