article {
  img,
  h2, h3 {
    @include anchor-offset;
  }

  figure:hover,
  figure:focus {
    transform: scale(1.01);

    img {
    opacity: 0.92;
    }
  }
}

.project-image-container {
  @include card-container;
  background: $white;

  img {
    min-height: 13rem;
  }
}
