// base button style
.button {
  @include button-base;
}

// scale up big buttons
.button-large {
  padding: 1.05em 2em 1em 2em;
  border-radius: 6px;
}

// hey button, get out of my list!
ul + .button {
  float: left;
  clear: both;
}

// disabled
.disabled {
  pointer-events: none;
  cursor: default;
}

// project back button
.back {
  display: inline-block;
  @include horizontal-center;
}


// share
.share-twitter svg {
  max-width: 1.25rem;
  top: 0.15em;
  padding-right: 0.25em;
}
