.card {
  width: 100%;

  &:hover, &:active, &:focus {
    .card-title {
      color: $brand-color;
    }

    img {
      @include card-hover;
    }
  }
}

.card-thumb {
  @include card-container;

  img {
    // before the images load
    min-height: 7.5rem;
  }
}

.card-caption {
  @include clearfix;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;

  p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.card-title {
  color: $dark-2;
}

.card-subtitle {
  color: $gray;
}
