

// inputs

input:not([type=submit]):not([type=file]),
textarea {
  border: none;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

textarea {
  resize: vertical;
}

input:not([type=submit]):not([type=file]),
textarea {

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

textarea {
  height: 35vh;
  min-height: 8rem;
  max-height: 30rem;
}

// error / success messages

.validation {
  display: block;
  z-index: 0;

  @media (min-width: $m2) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.message-success, .message-fail {
  padding-top: 2rem;

  @media (min-width: $m3) {
    padding-top: 4rem;
  }
}
