// footer

footer {
  line-height: 1;

  @media (max-width: $sm2 - 0.001em) {
    li {
      width: 100%;
      margin-right: 0 !important;
    }
  }

  @media (min-width: $m1) {
    li + li {
      padding-left: 1rem;
    }
  }
}
