// next / prev

// from _lists.scss
.nextprev {
  width: 100%;
  margin-top: 1rem; // originally when it follows <main>?
  // don't be overlapping content
  float: left;
  clear: both;

  .prev, .next {
    display: block;
    float: left;
    width: 50%;
  }

  .next {
    float: right;
  }

  .nextprev-link {
    padding: 0 1rem 0.1rem 1rem;
    display: inline-block;
    width: auto;
  }

  .prev {
    text-align: right;
  }

  .next {
    text-align: left;
  }
}

.next svg {
  transform: rotateY(180deg);
}


// from _theme.scss
// next / prev
.nextprev a,
.back {
  border-bottom: none !important;

  svg {
    width: 0.35rem;
    height: 1rem;
    bottom: -0.16em;
    margin-left: 0.15em;
    margin-right: 0.15em;
    overflow: visible;
  }

  path {
    fill: $brand-color;
  }

  &:hover path,
  &:active path,
  &:focus path {
    fill: $brand-light;
  }
}

.next {
  a:hover,
  a:active,
  a:focus {
    svg {
      transform: translateX(2px) rotateY(180deg);
    }
  }
}

.prev {
  a:hover,
  a:active,
  a:focus {
    svg {
      transform: translateX(-2px);
    }
  }
}




// GIANT NEXT / PREV; TODO: rename and separate this component

// hide on mobile
.prev-container,
.next-container {
  @media (max-width: $m2 - 0.001) {
    display: none;
  }
}


@media (min-width: $m2) {

  .prev-container,
  .next-container {
    display: block;
    height: 100%;
    position: fixed;
    top: 0;
    width: 5.75%;


    // fill up all the space
    .nav-link {
      padding: 1rem;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      // center caret
      span {
        @include vertical-center;
        display: block;
      }
    }
  }


  // left/right positioning
  .prev-container {
    left: 0;
    text-align: right;
  }
  .next-container {
    right: 0;
    text-align: left;
  }
}
