////////////////////////////////
// social links
////////////////////////////////

.social-link {
  display: block;
  line-height: 0;
}


////////////////////////////////
// custom social link colors
////////////////////////////////

// twitter
.social-link-twitter {
  &:hover path,
  &:focus path,
  &:active path {
    fill: $twitter;
  }
}

// dribbble
.social-link-dribbble {
  &:hover path,
  &:focus path,
  &:active path {
    fill: $dribbble;
  }
}

// instagram
.social-link-instagram {
  &:hover path,
  &:focus path,
  &:active path {
    fill: $instagram;
  }
}

// email
.social-link-email {
  &:hover path,
  &:focus path,
  &:active path {
    fill: $google;
  }
}
