.validation {
  animation: peak-up .3s ease;
  animation-iteration-count: 1;
}


@keyframes peak-up {
  0% {
    opacity: 0;
    transform: translate(0, 2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
