$timing: 0.2s ease;
$timing-secondary: 0.35s ease;

a,
.card,
.card-caption *,
button {
  transition:
    transform $timing,
    color $timing,
    border $timing,
    background $timing,
    box-shadow $timing;
}

// curtain effect
.nav-link:after,
.button:after {
  transition:
    transform $timing,
    opacity $timing;
}

svg {
  transition: all $timing;
}

svg path {
  will-change: fill;
  transition: fill $timing;
}

.card img,
.project-image-container img,
figure, .figure {
  will-change: transform, opacity;
  transition: all 0.35s ease;
}
