// lists

ul, ol {
  padding: 0;
  margin: 0;

  &:not(.bulleted),
  &:not(.numbered) {
    list-style: none;
  }
}

// bullets

.bulleted {
  list-style: circle;
}

// numbered

.numbered li,
aside ol li,
article ol li {
  list-style: decimal;
  left: 1rem;
}

// inline

.inline li {
  display: inline-block;

  &:not(:last-of-type) {
    margin-right: 1rem;
  }
}
