html {
  background: $light-1;
  color: $dark-2;
}

.disabled {
  color: $dark-1 !important;
}
.disabled path {
  fill: $dark-1 !important;
}

a,
.validation {
  color: $brand-color;

  &:hover,
  &:focus {
    color: $brand-light;
  }
  &:active {
    color: $brand-dark;
    border-color: $brand-dark;
  }
}


// link underline on :hover
article,
aside,
footer {

  a {
    border-bottom: 0.05em solid transparent;
  }

  a:not(.button) {
    &:hover,
    &:focus {
      border-color: inherit;
    }
    &:active {
      border-color: $brand-dark;
    }
  }
}





// figure
figure,
.figure,
input:not([type=submit]):not([type=file]),
textarea {
  background: $white;
  box-shadow:
    0 0 0 1px $white,
    0 1px 4px 1px rgba($dark-1, 0.35);

    &:hover,
    &:focus {
      box-shadow:
        0 0 0 1px $white,
        0 1px 4px 1px rgba($dark-1, 0.5),
        0 1px 8px 1px rgba($dark-1, 0.35);
    }

  &:active {
    box-shadow:
      0 0 0 1px $white,
      0 1px 4px 1px rgba($dark-1, 0.625),
      0 1px 8px 1px rgba($dark-1, 0.5);
  }
}

.main figure a {
  border-bottom: none;
}


// footer
.footer {
  background: $black;

  a {
    color: $brand-light;
  }

  .active a {
    color: $gray;

    &:hover,
    &:active,
    &:focus {
      color: $brand-light;
    }
  }

  p {
    color: $gray;
  }
}


// :focus
:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0 $brand-color,
}


// ::selection
::selection {
  background: $brand-light;
  color: $white;
}


// ::placeholder
::placeholder {
  color: $dark-1;
}


// form label
label {
  color: $dark-1;

  &:hover,
  &:active,
  &:focus {
    color: $brand-light;
  }
}





// blog intro
.intro {
  border-bottom: 1px solid $dark-1;
}


// avatar
.avatar {
  border-radius: 100%;
  overflow: hidden;
}


// browsersync notification
#__bs_notify__ {
  opacity: 0.2;
}
