// scale baseline with document

html {
  font-size: 18px;

  @media (min-width: $l1) {
    font-size: 20px;
  }

  @media (min-width: $l3) {
    font-size: 22px;
  }
}

// typefaces
body {
  @include source-reg;
}

h1, h2, h3 {
  @include source-light;
}

.nav-name,
article a, aside a,
.prev-container a, .next-container a {
  @include source-bold;
}

em, i, .intro {
  @include source-ital;
}

p, li, a {
  font-size: 1rem;
  line-height: 2.2em;
}

h1 {
  font-size: 1.4rem;
  line-height: 1.36em;

  @media (min-width: $sm2) {
    font-size: 1.8rem;
  }

  @media (min-width: $m3) {
    font-size: 2.4rem;
  }
}

h2,
aside h1 {
  font-size: 1.2rem;
  line-height: 1.36em;

  @media (min-width: $sm2) {
    font-size: 1.4rem;
  }

  @media (min-width: $m3) {
    font-size: 1.8rem;
  }
}

h3,
.nav-name {
  font-size: 1.2rem;
  line-height: 1.27em;
  letter-spacing: 0.025em;
}

a {
  text-decoration: none;
}

small, small a,
.small,
footer p, footer a,
aside *, .meta li,
.button {
  font-size: 0.85rem;
  line-height: 1.3em;
}

.site-nav a {
  font-size: 0.625rem;

    @media (min-width: $sm2) {
      font-size: 0.85rem;
    }
}

label {
  font-size: 0.85rem;
  line-height: 2.2em;
}

.card-caption p {
  line-height: 1.3em;
}

.nav-title {
  font-size: 0.65rem;
}

.button-large {
  font-size: 1rem;
  line-height: 1em;
}

aside * {
  line-height: 1.8em;
}

.blog .meta * {
  line-height: 2.2em;
}

figure, img {
  line-height: 0;
}

.prev-container a,
.next-container a {
  font-size: 4rem;
}

// helpers

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.centered {
  text-align: center;
}

.left-center {
  text-align: left;

  @media (min-width: $m2) {
    text-align: center;
  }
}

.center-left {
  text-align: center;

  @media (min-width: $m1) {
    text-align: left;
  }
}

.center-right {
  text-align: center;

  @media (min-width: $m1) {
    text-align: right;
  }
}
