article * + *,
aside * + * {
  margin-top: 1.25em;
}

h1, h2, h3 {
  + {
    p, ul, ol, form, blockquote, img {
      margin-top: 1.6em;
    }
  }
}

main p + h2,
main p + h3 {
  display: inline-block;
  width: 100%;
  clear: both;
}

p, ul, ol, form, blockquote, img {
  + h1, + a {
    margin-top: 1.6em;
  }
  + h2, + h3, + ul, + ol {
    margin-top: 1.6em;
  }
}

.header + {
  article, article + aside,
  aside, aside + article {
    margin-top: 2rem;
  }
}

article + aside,
aside + article {
  @media (max-width: $m2 - 0.001em) {
    margin-top: 2rem;
  }
}

main .row + .row {
  margin-top: 4rem;

  @media (min-width: $m2) {
    margin-top: 6rem;
  }
}

.blog .row + .row {
  margin-top: 2rem;

  @media (min-width: $m2) {
    margin-top: 3rem;
  }
}

footer .row + .row.colophon {
  margin-top: 1rem;
}

.gallery figure + figure,
.gallery figure + .grid-wrap,
.gallery .grid-wrap + figure,
.button-large, .button,
.contact .social-icons {
  margin-top: 2rem;
}

aside li + li {
  margin-top: 0;
}

aside h1 {
  margin-top: 0.3rem;
}

// TODO: kill with fire
.has-grid-float {
  margin-bottom: -0.5rem !important;
}

.blog .meta {

  @media (min-width: $m2) {
    margin-top: 0.3rem;

    li {
      display: block;
    }
  }
}
